<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Board Game</h1>
        <div id="links">
            <a href="/p1">Player 1</a>
            <a href="/p2">Player 2</a>
            <a href="/p3">Player 3</a>
            <a href="/p4">Player 4</a>
        </div>
    </div>
</body>
</html>
